@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



.home-container {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding-top: 6rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
.home-content-box {
    background: white;
    padding: 6rem 9rem;
    border-radius: 2px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 2rem; 
    max-width: 700px; 
    max-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    position: fixed;
    text-align: center;
}

.home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: .75rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
  
.home-header-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: #111827;
    font-family: 'Raleway';
}

.home-button {
    background-color: #3c88b7; /* soft indigo */
    color: white;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 999px; /* fully rounded */
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.home-button:hover {
    background-color: #77a6e9; 
}
  
.album-background {
    position: fixed;
    top: 1rem; 
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 5px;
    opacity: 0.6;
    overflow: visible;
}
  
.album-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.3s;
}
  